@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary-font: "Lora", serif;
  --secondary-font: "Ubuntu", sans-serif;
  --bg-color: #f8f8f8;
  --head-color: #143774;
  --subhead-color: #1792d2;
  --link-color: #707070;
  --ubuntu-bold: 700;
  --lora-regular: 400;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--secondary-font);
}

h1 {
  font-family: var(--primary-font);
  font-weight: var(--lora-regular);
  color: var(--head-color);
}

a {
  text-decoration: none;
}

/* Header: */

.header {
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.container {
  padding: 2em 0; /* (16px) X (2em) === (32px)*/
  width: 90%;
  max-width: 900px;
}

.logo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.logo-head {
  font-size: 2rem;
}

.logo-subhead {
  font-size: 0.75rem;
  color: var(--subhead-color);
  text-transform: uppercase;
  font-weight: var(--ubuntu-bold);
}

.nav-list {
  display: flex;
  gap: 2em;
  list-style: none;
}

/* .nav-list-item {
} */

.nav-list-item a {
  color: var(--link-color);
  text-transform: uppercase;
  font-weight: var(--ubuntu-bold);
  font-size: 1rem;
  padding: 0.25em 0; /* (16px) X (0.25em) === (4px)*/
}

.nav-list-item a:hover,
.nav-list-item a:focus {
  color: var(--subhead-color);
}

.active-link {
  border-bottom: 2px solid #000;
}

.nav-list-item .active-link:hover {
  color: var(--link-color);
}

@media (max-width: 675px) {
  .header-container {
    flex-direction: column;
  }

  .logo {
    align-items: center;
  }

  .nav-list {
    flex-direction: column;
    align-items: center;
  }
}
